button.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1abc9c;
  border-radius: 0.6em;
  color: #1abc9c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: box-shadow 150ms ease-in-out, color 100ms ease-in-out;

}
button.btn:hover, button.btn:focus {
  color: #fff;
  outline: 0;
  border: 2px solid #fff;
  background-color: #2ecc71;

}