$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$yellow: #f1c40f;
$purple: #8e44ad;
$turquoise: #1abc9c;

.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #1abc9c;
  border-radius: 0.6em;
  color: #1abc9c;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  transition: box-shadow 200ms ease-in-out, color 200ms ease-in-out;
  justify-content: center;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
  border: 2px solid #fff;
  background-color: #2ecc71;
}

