body {
    margin: 60px auto;
    width: 70%;
    background: linear-gradient(to left bottom, #dcdfe5, #cedeee, #b9def4, #9ee0f5, #81e1f0);
}
nav ul, footer ul {
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
}

h1.test {
    font-size: 3em;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    margin-top: 0px;
}
p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
p.test{
    color: #003366;
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}

p.test1
{
    font-family:'Verdana', 'Arial', 'Sans-Serif';
    font-size: 15px;
    line-height: normal;
    margin-bottom: 0px;
    color: #003366;
}

div.fixed{
    width: 200px;
}
div.flex-item{
    flex-grow: 1;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.hover12 figure {
	background: #1abc9c;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}
.hovereffect {
  float: left;
  width: 23%;
  padding: 5px;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
  background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
}

.column2 {
  float: right;
  width: 72%;
  padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.hovereffect img {
transition: .5s ease;
}

.hovereffect img:hover{
box-shadow: 0 0 0 10px #000000;
transition: .5s ease;
}

