body {
    margin: 60px auto;
    width: 70%;
    background: linear-gradient(to left bottom, #dcdfe5, #cedeee, #b9def4, #9ee0f5, #81e1f0);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.0em;
    line-height: 1.4em;
    color: #333;
}
p.test{
    color: #003366;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 18px;
    line-height: 26px;
    margin: 0;
}

p.test1
{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-size: 16px;
    line-height: normal;
    margin-bottom: 10px;
    color: #003366;
}

div.fixed{
    width: 200px;
}
div.flex-item{
    flex-grow: 1;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.hover12 figure {
	background: #1abc9c;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}
#boxes{
    content: "";
    display: table;
    clear: both;
}
div{
    float:left;
    height:470px;
    width:23%;
    padding:0 10px;
}
#column1{
    background-color: #a1edcc;
}
#column2{
    background-color:#a0e9ed;
    width:70%;
}