:root {
  --blue: #7832e2;
  --indigo: #502c6c;
  --purple: #ad6edd;
  --pink: #ff0266;
  --red: #ea2f65;
  --orange: #fbb500;
  --yellow: #ffde03;
  --green: #03a87c;
  --teal: #09ebaf;
  --cyan: #35bdff;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --light-blue: #e8f3ec;
  --primary: #03a87c;
  --secondary: #7832e2;
  --success: #03a87c;
  --info: #09ebaf;
  --warning: #ffde03;
  --danger: #ea2f65;
  --light: #f8f9fa;
  --dark: #212529;
  --white: #fff;
  --purple: #ad6edd;
  --salmon: #ff977a;
  --cyan: #35bdff;
  --gray: #ced4da;
  --indigo: #502c6c;
  --orange: #fbb500;
  --lightblue: #e8f3ec;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Segoe UI", "Helvetica Neue", "Arial";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}