.navigation {
  width: 80%;
  height 70px;
  padding: 15px 0;
  background-image: linear-gradient(-90deg, #fff, #eee);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);

}
.logo {
  color: #888;
  width: 20%;
  float: left;
  line-height: 40px;
}
.navigation-links {
  text-align: right;
}
.navigation-links li {
  color: #888;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-transition: all .8s; /* Safari prior 6.1 */
  transition: all .8s;
}

.navigation-links li.active {
  background-color: rgba(	83, 173, 203, .3);
}

.navigation-links li:hover {
  background-color: rgba(	83, 173, 203, 1);
  color: #fff;
  cursor: pointer;
}

body {
  margin: 60px auto;
  width: 70%;
  font-family: 'Roboto', sans-serif;
}